[Unit]
Description=A lightweight tcp server
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/rpi-tcp-server > /var/log/rpi-tcp-server/server.log 2&>1

[Install]
WantedBy=multi-user.target
