[Unit]
Description=A lightweight tcp server
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/rpi-tcp-server -l

[Install]
WantedBy=multi-user.target
